.group {
  h3 {
    font-weight: 500;
    padding: 8px 16px;
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
  }

  ul {
    padding-inline-start: 48px;
    padding-inline-end: 48px;

    li {
    }
  }
}

a {
  text-decoration: none;
}
